@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgb(197, 197, 197);
  height: 100vh;
}

.container {
  width: 15%;
  background-color: #03111b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
ul {
  list-style: none;
  color: black;
}

.sidebar li {
  text-align: center;
  padding: 1rem;
}

.sidebar a {
  color: aliceblue;
}
